@model IEnumerable<IntranetMessenger.Models.UserShow>

@{
    ViewBag.Title = "Index";
}
<h2>User List</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name) 
            </td>
            <td align="right">
                @Html.ActionLink("Send message", "Create", "Messages", new {reciever = item.Name}, null)
            </td>
        </tr>
    }
</table>
