@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello!</h1>
    <br>
    <p><a class="btn btn-primary" href="~/Users/Log" style="width:20%">Log in &raquo;</a></p>

    <p><a class="btn btn-primary" href="~/Users/Create" style="width:20%">Register &raquo;</a></p>
</div>

